<h2>Books</h2>


    <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td><%= link_to "Show", book_path(book.id) %></td>
            <td><a href="">Edit</a></td>
            <td><a href="">Destroy</a></td>
        </tr>
    </tbody>
    <% end %>
    </table>

